sort=-time
max-visible=2
font=Tamzen
background-color=#2e3440
width=350
height=300
padding=8
icons=1
border-size=1
margin=12
anchor=top-center
text-alignment=center
text-color=#c1c1c1
default-timeout=25000
icons=1
icon-path=/usr/share/icons/mate
border-color=#d8dee9

[urgency=high]
border-color=#d08770
