sort=-time
max-visible=2
font=Tamzen
background-color=#{{ background }}
width=350
height=300
padding=8
icons=1
border-size=1
margin=14
anchor=top-right
text-alignment=center
text-color=#{{ foreground }}
default-timeout=25000
icons=1
icon-path=/usr/share/icons/Adwaita
border-color=#{{ foreground }}

[urgency=high]
border-color=#{{ ansi_yellow }}
