[main]
font = Tamzen:size=12,Iosevka Nerd Font:size=11
pad = 10x10

[cursor]
color = {{ background }} {{ foreground }}

[colors]
foreground = {{ foreground }}
background = {{ background }}

regular0 = {{ ansi_black }}
regular1 = {{ ansi_red }}
regular2 = {{ ansi_green }}
regular3 = {{ ansi_yellow }}
regular4 = {{ ansi_blue }}
regular5 = {{ ansi_magenta }}
regular6 = {{ ansi_cyan }}
regular7 = {{ ansi_white }}

bright0 = {{ ansi_bright_black }}
bright1 = {{ ansi_bright_red }}
bright2 = {{ ansi_bright_green }}
bright3 = {{ ansi_bright_yellow }}
bright4 = {{ ansi_bright_blue }}
bright5 = {{ ansi_bright_magenta }}
bright6 = {{ ansi_bright_cyan }}
bright7 = {{ ansi_bright_white }}
