autofit-larger=90%x90%
geometry=50%:50%
gpu-context=wayland
hwdec=vaapi
save-position-on-quit=yes
sub-auto= fuzzy
sub-visibility=yes
screenshot-directory=/home/{{ ansible_facts.user_id }}/Pictures/mpv-shots
load-scripts=yes
script-opts=ytdl_hook-ytdl_path=/usr/bin/yt-dlp
