#!/usr/bin/fish
set bg "#{{ background }}"
set fg "#{{ foreground }}"
set ac "#{{ ansi_green }}"
bemenu-run -p "run..." -i -H {{ sway_bar_height }} -b --fn "Tamzen 12"  --tb "$bg" --fb "$bg" --nb "$bg" --hb "$bg" --sb "$bg" --ab "$bg" --tf "$ac" --ff "$fg" --nf "$fg" --hf "$ac" --sf "$fg" --af "$fg" --cf "$bg" --cb "$bg" --bdr "$fg"
