### Gestures
bindgesture swipe:4:left workspace next
bindgesture swipe:4:right workspace prev

#
# Special keybindings
#
bindsym XF86MonBrightnessDown exec sudo brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec sudo brightnessctl set 5%+

### Input configuration
input "{{ touchscreen_device }}" {
    map_to_output {{ display_name }}
}

input "{{ wacom_device }}" {
    map_to_output {{ display_name }}
}

input "{{ touchpad_device }}" {
    dwt enabled
    dwtp enabled
    natural_scroll enabled
    tap enabled
    tap_button_map lrm
}
